@model Core.Entites.Aboutus.QualityPolicy

@{
    ViewData["Title"] = "Details";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content container">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h4>Quality Policy Point Preview</h4>
            </div>
            <div class="card-body">

                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Point)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Point)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AddedDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AddedDate)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a class="btn btn-outline-secondary" asp-action="Index"><i class="far fa-share-square"></i>Back to List</a>
                </div>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
