@model Core.Entites.Service.Service

@{
    ViewData["Title"] = "Delete";
}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">NEWTESTLAB Admin Panel</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-12 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title">Services Control Panel</h1>
                        </div><!-- /.card-header -->
                        <div class="card-body">

                            <div>
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.ImageURL)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.ImageURL)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Title)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Title)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Content)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Content)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.ActionName)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.ActionName)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.AddedDate)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.AddedDate)
                                    </dd>
                                </dl>

                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                                    <a asp-action="Index">Back to List</a>
                                </form>
                            </div>



                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /.Left col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>



